@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background_colour: #f9f9f9;
    --default_colour: #f2c763;
}

body{
    font-family: 'Baloo Paaji 2', sans-serif;
    background-color: var(--background_colour);
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

input, button{
    font-family: 'Baloo Paaji 2', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.title{
    font-weight: 700;
    font-size: 2rem;
}